<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @var $this Mage_Core_Block_Template
 * @var $quote Mage_Sales_Model_Quote
 * @var $item Mage_Sales_Model_Quote_Item
 */
$quote = Mage::registry('current_quote');
?>
<table><tr><td>&nbsp;</td></tr></table>
<table width="100%" class="data-table quote-resume" border="1" cellpadding="3">
    <tr class="first-row">
        <th width="12%">&nbsp;</th>
        <th width="30%"><?php echo Mage::helper('quotepdfprinter')->__('Product Name') ?></th>
        <th><?php echo Mage::helper('quotepdfprinter')->__('SKU') ?></th>
        <th><?php echo Mage::helper('quotepdfprinter')->__('Unit Price') ?></th>
        <th width="5%"><?php echo Mage::helper('quotepdfprinter')->__('Qty') ?></th>
        <th width="12%"><?php echo Mage::helper('quotepdfprinter')->__('Subtotal') ?></th>
    </tr>
    <tr class="first-row">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($quote->getAllVisibleItems() as $item) : ?>
    <?php $product = Mage::getModel('catalog/product')->load($item->getProductId()); ?>
    <?php $image = Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(50); ?>
    <?php $image = str_replace(Mage::getBaseUrl(), "", $image) ?>
    <?php $options = $item->getOptionsByCode(); ?>
        <tr style="font-size: 10px">
            <td>
                <img src="<?php echo $image ?>"/>
            </td>
            <td>
                <?php echo $product->getName() ?>
                <?php if(isset($options['additional_options'])): ?>
                <ul class="product-options" style="font-size: 10px">
                <?php foreach(unserialize($options['additional_options']['value']) as $code => $data) : ?>
                    <?php if(is_array($data['value'])): ?>
                        <li class="option-<?php echo $code?>"><strong><?php echo str_replace(':', '', $data['label']) ?></strong>&nbsp;<?php echo join(', ', $data['value']) ?></li>
                    <?php else: ?>
                    <li class="option-<?php echo $code?>"><strong><?php echo str_replace(':', '', $data['label']) ?></strong>&nbsp;<?php echo $data['value'] ?></li>
                    <?php endif; ?>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>
            </td>
            <td>
                <?php echo $product->getSku() ?>
            </td>
            <td>
                <?php echo Mage::helper('core')->currency($item->getBasePrice(), true, false) ?>
            </td>
            <td>
                <?php echo $item->getQty() ?>
            </td>
            <td>
                <?php echo Mage::helper('core')->currency($item->getBaseRowTotal(), true, false) ?>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<table><tr><td>&nbsp;</td></tr></table><table><tr><td>&nbsp;</td></tr></table>
