<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @var $this Mage_Core_Block_Template
 * @var $quote Mage_Sales_Model_Quote
 */
$quote = Mage::registry('current_quote');
$address = ($quote->getShippingAddress()) ? $quote->getShippingAddress() : new Varien_Object();

?>
<table width="100%" cellpadding="5">
    <tr style="color: grey;">
        <td width="30%"><?php echo $address->getFirstname() . " " . $address->getLastname() ?></td>
        <td width="35%"><?php echo $address->getEmail() ?></td>
        <td width="20%">n.<?php echo Mage::helper('quotepdfprinter')->generateLabel($quote->getId())?></td>
        <td width="15%"><?php echo Mage::helper('core')->formatDate($quote->getUpdatedAt(), 'medium', false)?></td>
    </tr>
</table>
