<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @var $this Mage_Core_Block_Template
 */
$fontSize = (Mage::getStoreConfig('quotepdfprinter/layout/address_font_size') ? Mage::getStoreConfig('quotepdfprinter/layout/address_font_size') : 12);
$color = (Mage::getStoreConfig('quotepdfprinter/layout/address_color') ? str_replace('#', '', Mage::getStoreConfig('quotepdfprinter/layout/address_color')) : '000000');
$customerLogo = Mage::getSingleton('customer/session')->getCustomer()->getLogo();
/** @var  $address Mage_Customer_Model_Address */
$address = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBillingAddress();
?>
<?php   if ($this->getImage() || $this->getAddress()) : ?>
    <table style="padding-bottom: 20px;">
        <tr>
            <td>
                <img src="<?php echo $this->getImage() ?>"/>
            </td>
            <?php   if($customerLogo) : ?>
            <td>
                <img src="media/customer<?php echo $customerLogo?>"/>
            </td>
            <?php endif; ?>
            <td style="text-align: right; font-size: <?php echo $fontSize?>px; color:'#<?php echo $color?>'">
                <?php echo $address->getCompany() ?><br/>
                <?php echo $address->getStreet1() ?>, <?php echo $address->getPostcode()?><br/>
                <?php echo $address->getCity()?><br/>
                <?php echo $address->getVatId() ?><br/>
            </td>
        </tr>
    </table>
<?php   endif; ?>
