<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @var $this Mage_Core_Block_Template
 * @var $quote Mage_Sales_Model_Quote
 */
    $quote = Mage::registry('current_quote');
?>
<table width="100%">
    <tr>
        <td width="30%">
            <strong>Firma per accettazione</strong>
            <br/>
            <div style="width: 60%; height: 20px; margin:0 auto; border-bottom: 1px solid #000;">&nbsp;</div>
        </td>
        <td width="30%">&nbsp;</td>
        <td>
            <table width="100%" style="color: '#<?php echo (Mage::getStoreConfig('quotepdfprinter/layout/total_color') ? str_replace('#', '', Mage::getStoreConfig('quotepdfprinter/layout/total_color')) : '000000')?>'">
                <?php   foreach ($quote->getTotals() as $total) : ?>
                    <?php       if(!in_array($total->getCode(), array('tax', 'grand_total'))) : ?>
                        <?php           if (Mage::getStoreConfig('quotepdfprinter/layout/remove_zero_total') && $total->getValue() != 0 || !Mage::getStoreConfig('quotepdfprinter/layout/remove_zero_total')) : ?>
                            <tr>
                                <td width="70%"><?php echo $total->getTitle() ?></td>
                                <td style="text-align: right"><b><?php echo Mage::helper('core')->currency($total->getValue(), true, false) ?></b></td>
                            </tr>
                        <?php           endif; ?>
                    <?php       endif; ?>
                <?php   endforeach; ?>
                <?php   foreach ($quote->getTotals() as $total) : ?>
                    <?php       if(in_array($total->getCode(), array('tax', 'grand_total'))) : ?>
                        <?php           if (Mage::getStoreConfig('quotepdfprinter/layout/remove_zero_total') && $total->getValue() != 0 || !Mage::getStoreConfig('quotepdfprinter/layout/remove_zero_total')) : ?>
                            <tr>
                                <td width="70%"><?php echo $total->getTitle() ?></td>
                                <td style="text-align: right"><b><?php echo Mage::helper('core')->currency($total->getValue(), true, false) ?></b></td>
                            </tr>
                        <?php           endif; ?>
                    <?php       endif; ?>
                <?php   endforeach; ?>
            </table>
        </td>
    </tr>
</table>
