<!--@subject {{var store.getFrontendName()}}: A new quote has been printed  @-->

A new quote PDF has been printed.

<ul>
    <li>Customer Name: {{var customer_name}}</li>
    <li>Customer Email: <a href="mailto:{{var customer_email}}">{{var customer_email}}</a></li>
    <li>Quote number: {{var quote_id}}</li>
    <li>Number of items: {{var items_count}}</li>
</ul>